# Domain
DOMAIN=

# Frontend
FRONTEND_HOST=

# Environment
ENVIRONMENT=dev
PROJECT_NAME="PlotTwist"
STACK_NAME=plottwist

# Backend
BACKEND_CORS_ORIGINS=
SECRET_KEY=  # Generate with: python -c "import secrets; print(secrets.token_urlsafe(32))"
FIRST_SUPERUSER=testuser # set user
FIRST_SUPERUSER_PASSWORD=  # Set a strong password

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@plottwist.romerolabs.es
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=plottwist
POSTGRES_USER=plottwist
POSTGRES_PASSWORD=  # Generate a strong password

SENTRY_DSN=

# TMDB
TMDB_API_KEY=  # Your TMDB API read access token

# Docker images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
TAG=latest
